@using CelOrdApp.Data

@{
	ViewData["Title"] = "Admin - Users";
}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Area</th>
							<th>Creado</th>
						</tr>
					</thead>
					<tbody>
						@foreach (User user in Model)
						{
							<tr>
								<td>@user.FullName</td>
								<td>@user.UserType.ToSpanish()</td>
								<td>@user.CreatedAt.ToString("yyyy-MM-dd")</td>
							</tr>
						}
					</tbody>
				</table>
				<a href="@Url.Action("Create", "Home")" class="btn btn-success">Create New User</a>
			</div>
		</div>
