@{
    ViewData["Title"] = "CelOrden";
}

<div class="text-center">
    <h1 class="display-4">CelOrden</h1>
    <p>Con este sistema el personal de su negocio puede tomar &oacute;rdenes en celulares.</p>
    <p><a href="/Signup">Pru&eacute;belo</a> sin costo.</p>
</div>
