@model LoginViewModel;

@{
    if (ViewBag.SuccessMsg != null)
    {
        <div class="alert alert-success" role="alert">@Html.Raw(ViewBag.SuccessMsg)</div>
    }
}
<h1 class="text-center">Ingresar</h1> <br />

<form asp-controller="Account" asp-action="Login" method="post">
    <div class="mb-3">
        <label for="CompanyName" class="form-label">Nombre del negocio</label>
        <input type="text"
               asp-for="CompanyName"
               value="@Model.CompanyName"
               class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Username" class="form-label">Usuario</label>
        <input type="text" 
               asp-for="Username"
               class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Contrase&ntilde;a</label>
        <input type="password" 
               asp-for="Password" 
               class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Iniciar Sesi&oacute;n
        <div class="loader" id="loader"></div>
    </button>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>
