<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand">
            <div class="container">
                <a class="navbar-brand " href="/">CelOrden</a>
                <div class="justify-content-end" id="menu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/pendings">Pendientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/inprocess">Procesando</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fulfilled">Teminados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">X</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container d-flex align-items-center justify-content-center vh-100">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CeluOrden
        </div>
    </footer>
    <style>
        .navbar {
            background-color: #0B3D0B;
        }

        .navbar-brand {
            color: white;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
